.rmc-nav {
  color: white;
  background-color: black;
  overflow: hidden;
  /** may not need this below */
  /** may not need this above */
  /* To display the parent */
}
.rmc-nav:hover, .rmc-nav:focus-within {
  color: white;
}
.rmc-nav:hover .rmc-nav__navigation-button > span.rmc-nav__navigation-button__lines, .rmc-nav:hover .rmc-nav__navigation-button > span.rmc-nav__navigation-button__lines::before, .rmc-nav:hover .rmc-nav__navigation-button > span.rmc-nav__navigation-button__lines::after, .rmc-nav:focus-within .rmc-nav__navigation-button > span.rmc-nav__navigation-button__lines, .rmc-nav:focus-within .rmc-nav__navigation-button > span.rmc-nav__navigation-button__lines::before, .rmc-nav:focus-within .rmc-nav__navigation-button > span.rmc-nav__navigation-button__lines::after {
  background-color: white;
}
.rmc-nav nav.rmc-nav form {
  padding: 0;
  margin: 0;
}
.rmc-nav .rmc-nav__navigation-button {
  background-color: black;
  border: none;
  cursor: pointer;
  letter-spacing: 0.045rem;
  text-transform: uppercase;
  padding: 1.85rem 0.5rem 0.5rem 0.5rem;
  text-decoration: none;
  user-select: none;
  white-space: nowrap;
  width: 100%;
  color: white;
  font-size: modular-scale(-1);
  position: relative;
  min-height: 4.375rem;
  text-align: center;
  margin-bottom: 0;
  font-weight: 400;
}
.rmc-nav .rmc-nav__navigation-button:hover, .rmc-nav .rmc-nav__navigation-button:focus {
  background-color: black;
  color: white;
}
.rmc-nav label.navigation-button {
  padding: 0;
}
.rmc-nav .navigation-button > span.navigation-button__lines {
  position: absolute;
  top: 33.5%;
  left: 50%;
  margin-left: -0.75rem;
  display: block;
  -webkit-text-shadow: rgba(0, 0, 0, 0.95) 1px 1px 2px;
  -moz-text-shadow: rgba(0, 0, 0, 0.95) 1px 1px 2px;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px 2px;
  height: 0.1rem;
  width: 1.5rem;
  background-color: #fff;
  font-size: 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.rmc-nav .rmc-nav__navigation-button[aria-expanded=true] {
  position: fixed;
  top: 0;
  right: 0;
}
.rmc-nav .rmc-nav__navigation-button[aria-expanded=true] > span {
  right: 0;
}
.rmc-nav .navigation-button[aria-expanded=true] > span.navigation-button__lines,
.rmc-nav input.rmc-nav__checkbox:checked + .navigation-button > span.navigation-button__lines {
  background-color: transparent;
  width: 1.5rem;
}
.rmc-nav .navigation-button button {
  overflow: visible;
}
.rmc-nav .navigation-button:hover {
  color: white;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.rmc-nav .navigation-button > span.navigation-button__lines:before,
.rmc-nav .navigation-button > span.navigation-button__lines:after {
  -webkit-text-shadow: rgba(0, 0, 0, 0.95) 1px 1px 2px;
  -moz-text-shadow: rgba(0, 0, 0, 0.95) 1px 1px 2px;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px 2px;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  content: "";
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.rmc-nav .navigation-button > span.navigation-button__lines:before {
  -webkit-transform: translateY(-300%);
  -moz-transform: translateY(-300%);
  transform: translateY(-300%);
}
.rmc-nav .navigation-button > span.navigation-button__lines:after {
  -webkit-transform: translateY(300%);
  -moz-transform: translateY(300%);
  transform: translateY(300%);
}
.rmc-nav .navigation-button[aria-expanded=true] > span.navigation-button__lines:before,
.rmc-nav input.rmc-nav__checkbox:checked + .navigation-button > span.navigation-button__lines:before {
  -webkit-transform: translateY(0) rotate(45deg);
  -moz-transform: translateY(0) rotate(45deg);
  transform: translateY(0) rotate(45deg);
  background: white;
}
.rmc-nav .navigation-button[aria-expanded=true] > span.navigation-button__lines:after,
.rmc-nav input.rmc-nav__checkbox:checked + .navigation-button > span.navigation-button__lines:after {
  -webkit-transform: translateY(0) rotate(-45deg);
  -moz-transform: translateY(0) rotate(-45deg);
  transform: translateY(0) rotate(-45deg);
  background: white;
}
.rmc-nav .toggle {
  position: absolute;
  right: 0.6em;
  cursor: pointer;
  color: #fff;
}
.rmc-nav .container {
  background: #fff;
  min-height: 100%;
  padding: 0;
  margin: 0;
}
.rmc-nav .responsive-nav-menu,
.rmc-nav .responsive-nav-menu .sub-nav {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.rmc-nav .navigation-button[aria-expanded=true] ~ .rmc-nav__content-wrapper {
  display: block;
  height: 100%;
  -webkit-transform: translate(-100vw, 0);
  -moz-transform: translate(-100vw, 0);
  -ms-transform: translate(-100vw, 0);
  transform: translate(-100vw, 0);
}
.rmc-nav .rmc-nav__content-wrapper {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  position: fixed;
  /* allow scrolling */
  overflow: auto;
  top: 4.375rem;
  width: 100%;
  background: #000;
  z-index: 10;
  right: -100vw;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: -webkit-transform 0.35 ease;
  -moz-transition: -moz-transform 0.35s ease;
  transition: transform 0.35s ease;
}
.rmc-nav .responsive-nav-menu ol li, .rmc-nav .responsive-nav-menu ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.rmc-nav .responsive-nav-menu .sub-nav .toggle span {
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
  display: inline-block;
}
.rmc-nav .responsive-nav-menu .sub-nav .toggle {
  top: 0;
}
.rmc-nav .responsive-nav-menu .sub-nav .toggle span {
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
  display: inline-block;
  padding: 0 0.5rem;
  font-weight: bold;
}
.rmc-nav .responsive-nav-menu .sub-nav {
  margin-left: 1rem;
}
.rmc-nav .responsive-nav-menu ul {
  margin: 0;
  background: black;
  line-height: 2.75rem;
  text-decoration: none;
  padding: 0;
  list-style: none;
}
.rmc-nav .responsive-nav-menu li a {
  padding: 0.75rem 1rem;
  margin-right: 0;
  line-height: 1.3rem;
  text-decoration: none;
  display: block;
  color: white;
}
.rmc-nav .responsive-nav-menu li a:hover,
.rmc-nav .responsive-nav-menu li a:focus,
.rmc-nav .responsive-nav-menu a.active,
.rmc-nav .responsive-nav-menu .toggle-sub:hover {
  background: #E4E4E4;
  color: black;
}
.rmc-nav .responsive-nav-menu li {
  border-bottom: 1px solid #222;
  font-size: modular-scale(1);
  letter-spacing: 0.05rem;
}
.rmc-nav .responsive-nav-menu li.expanded {
  position: relative;
}
.rmc-nav .responsive-nav-menu li.expanded .sub-nav li {
  border-top: 1px solid #222;
}
.rmc-nav .responsive-nav-menu li.expanded .toggle-sub {
  top: 0;
}
.rmc-nav .responsive-nav-menu .toggle-sub {
  letter-spacing: 0.045rem;
  color: #fff;
  background: #111;
  width: 2.2rem;
  border: none;
  border-left: 1px solid #444;
  cursor: pointer;
  text-align: center;
  position: absolute;
  right: 0;
  padding: 0.85rem 2rem 0.85rem 1rem;
}
.rmc-nav .responsive-nav-menu .toggle-sub[aria-expanded=true]:before {
  font-size: 1rem;
  display: inline-block;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.rmc-nav .responsive-nav-menu .toggle-sub[aria-expanded=false]:before {
  font-size: 1rem;
  display: inline-block;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.rmc-nav .responsive-nav-menu .toggle-sub:focus, .rmc-nav .responsive-nav-menu .toggle-sub:hover {
  background: #E4E4E4;
  color: black;
}
.rmc-nav .responsive-nav-menu ul.sub-nav {
  display: block;
  right: -100vw;
  position: absolute;
  width: 100%;
  -webkit-transition: -webkit-transform 0.35 ease;
  -moz-transition: -moz-transform 0.35s ease;
  transition: transform 0.35s ease;
}
.rmc-nav .responsive-nav-menu .toggle-sub[aria-expanded=true] + ul.sub-nav {
  -webkit-transform: translate(-100vw, 0);
  -moz-transform: translate(-100vw, 0);
  -ms-transform: translate(-100vw, 0);
  transform: translate(-100vw, 0);
  visibility: visible;
  opacity: 1;
}
.rmc-nav .responsive-nav-menu .toggle-sub[aria-expanded=false] + ul.sub-nav {
  -webkit-transform: translate(100vw, 0);
  -moz-transform: translate(100vw, 0);
  -ms-transform: translate(100vw, 0);
  transform: translate(100vw, 0);
  visibility: visible;
  opacity: 1;
}
.rmc-nav .responsive-nav-menu .tab {
  border-right: 1px solid black;
  margin: 0;
  padding: 0;
  float: left;
  height: auto;
}
.rmc-nav .responsive-nav-menu .tab[aria-selected=true] > div.tab-label, .rmc-nav .responsive-nav-menu .tab[aria-selected=true] > label,
.rmc-nav .responsive-nav-menu .tab input[name=tab-group-responsive_menu_combined]:checked + label {
  color: black;
  background-color: #E4E4E4;
}
.rmc-nav .responsive-nav-menu .tab-1 {
  width: 49%;
}
.rmc-nav .responsive-nav-menu .tab-2 {
  width: 49%;
}
.rmc-nav .responsive-nav-menu .tab-3 {
  width: 33.3%;
}
.rmc-nav .responsive-nav-menu .tab-4 {
  width: 24%;
}
.rmc-nav .responsive-nav-menu .tab-5 {
  width: 24%;
}
.rmc-nav .responsive-nav-menu .tab-6 {
  width: 14.5%;
}
.rmc-nav .responsive-nav-menu .tab > div.tab-label,
.rmc-nav .responsive-nav-menu .tab > label {
  text-align: center;
  position: relative;
  font-size: modular-scale(2);
  padding: 1rem 0;
  letter-spacing: 0.045rem;
  color: white;
  display: block;
  font-weight: 300;
  margin-bottom: 0;
}
.rmc-nav .responsive-nav-menu .tab .content {
  position: absolute;
  top: 3.25rem;
  left: 0;
  right: 0;
  bottom: 0;
  height: auto;
}
.rmc-nav .responsive-nav-menu > [aria-selected=false] > .content {
  display: none;
}
.rmc-nav .responsive-nav-menu ul li.sub-nav-view-open {
  position: absolute;
  top: 0;
  left: 0;
  background: red;
  width: 100%;
}
.rmc-nav ul.top-level-expanded > li > a,
.rmc-nav ul.top-level-expanded > li > button {
  display: none;
}
.rmc-nav ul.sub-nav-view li a,
.rmc-nav ul.sub-nav-view li button {
  display: none;
}
.rmc-nav ul.sub-nav-view > li.sub-nav-parent-view a,
.rmc-nav ul.sub-nav-view > li.sub-nav-parent-view button {
  display: block;
}
.rmc-nav ul.top-level-expanded > li.sub-nav-parent-view a,
.rmc-nav ul.top-level-expanded > li.sub-nav-parent-view button {
  display: block;
}
.rmc-nav .responsive-nav-menu ul.top-level-expanded > li,
.rmc-nav .responsive-nav-menu ul.top-level-expanded ul.sub-nav-view > li {
  border: none;
}
.rmc-nav .nested-arrow:before {
  /* content: "\e906"; If using font awesome.*/
  content: "^";
}

/** Add top padding for known administration toolbars */
body.navbar-adminstration ~ .rmc-nav__navigation-button[aria-expanded=true] {
  top: 30px;
}

body.toolbar .rmc-nav__navigation-button[aria-expanded=true] {
  top: 30px;
}

body.toolbar .rmc-nav__navigation-button[aria-expanded=true] ~ .rmc-nav__content-wrapper {
  top: 100px;
}

body.toolbar-drawer .rmc-nav__navigation-button[aria-expanded=true] {
  top: 65px;
}

body.toolbar-drawer .rmc-nav__navigation-button[aria-expanded=true] ~ .rmc-nav__content-wrapper {
  top: 135px;
}
