// ----
// Sass (vundefined)
// Compass (vundefined)
// dart-sass (v1.6.2)
// ----

  .rmc-nav {
    color: white;
    background-color: black;
    &:hover, &:focus-within {
      color: white;
      .rmc-nav__navigation-button > span.rmc-nav__navigation-button__lines {
        &,
        &::before,
        &::after {
          background-color: white;
        }
      }
    }
    nav.rmc-nav form {
      padding:0;
      margin:0;
    }
    .rmc-nav__navigation-button{
      background-color: black;
      border: none;
      cursor: pointer;
      letter-spacing: 0.045rem;
      text-transform: uppercase;
      padding: 1.85rem 0.5rem 0.5rem 0.5rem;
      text-decoration: none;
      user-select: none;
      white-space: nowrap;
      width: 100%;
      color: white;
      font-size: modular-scale(-1);
      position: relative;
      min-height: 4.375rem;
      text-align: center;
      margin-bottom: 0;
      font-weight: 400;
      &:hover,
      &:focus{
        background-color: black;
        color: white;
      }
    }
    label.navigation-button{
      padding:0;
    }
    .navigation-button > span.navigation-button__lines {
      position: absolute;
      top: 33.5%;
      left: 50%;
      margin-left: -0.75rem;
      display: block;
      -webkit-text-shadow: rgba(0, 0, 0, 0.95) 1px 1px 2px;
      -moz-text-shadow: rgba(0, 0, 0, 0.95) 1px 1px 2px;
      text-shadow: rgba(0, 0, 0, 0.95) 1px 1px 2px;
      height: 0.1rem;
      width: 1.5rem;
      background-color: #fff;
      font-size: 0px;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-transition: background-color 0.3s;
      -moz-transition: background-color 0.3s;
      transition: background-color 0.3s;
    }
    .rmc-nav__navigation-button[aria-expanded=true] {
      position: fixed;
      top: 0;
      right: 0;
      > span {
        right: 0;
      }
    }
    .navigation-button[aria-expanded=true] > span.navigation-button__lines,
    input.rmc-nav__checkbox:checked + .navigation-button > span.navigation-button__lines {
      background-color: transparent;
      width: 1.5rem;
    }
    .navigation-button button {
      overflow: visible;
    }
    .navigation-button:hover {
      color: white;
      -webkit-transition: background-color 0.3s;
      -moz-transition: background-color 0.3s;
      transition: background-color 0.3s;
    }
    .navigation-button > span.navigation-button__lines:before,
    .navigation-button > span.navigation-button__lines:after {
      -webkit-text-shadow: rgba(0, 0, 0, 0.95) 1px 1px 2px;
      -moz-text-shadow: rgba(0, 0, 0, 0.95) 1px 1px 2px;
      text-shadow: rgba(0, 0, 0, 0.95) 1px 1px 2px;
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      background: #fff;
      content: '';
      -webkit-transition: -webkit-transform 0.3s;
      -moz-transition: -moz-transform 0.3s;
      transition: transform 0.3s;
    }
    .navigation-button > span.navigation-button__lines:before {
      -webkit-transform: translateY(-300%);
      -moz-transform: translateY(-300%);
      transform: translateY(-300%);
    }
    .navigation-button > span.navigation-button__lines:after {
      -webkit-transform: translateY(300%);
      -moz-transform: translateY(300%);
      transform: translateY(300%);
    }
    .navigation-button[aria-expanded=true] > span.navigation-button__lines:before,
    input.rmc-nav__checkbox:checked + .navigation-button > span.navigation-button__lines:before {
      -webkit-transform: translateY(0) rotate(45deg);
      -moz-transform: translateY(0) rotate(45deg);
      transform: translateY(0) rotate(45deg);
      background: white;
    }
    .navigation-button[aria-expanded=true] > span.navigation-button__lines:after,
    input.rmc-nav__checkbox:checked + .navigation-button > span.navigation-button__lines:after {
      -webkit-transform: translateY(0) rotate(-45deg);
      -moz-transform: translateY(0) rotate(-45deg);
      transform: translateY(0) rotate(-45deg);
      background: white;
    }
    .toggle {
      position: absolute;
      right: 0.6em;
      cursor: pointer;
      color: #fff;
    }
    .container {
      background: #fff;
      min-height: 100%;
      padding: 0;
      margin: 0;
    }
    .responsive-nav-menu,
    .responsive-nav-menu .sub-nav {
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    .navigation-button[aria-expanded=true] ~ .rmc-nav__content-wrapper {
      display: block;
      height: 100%;
      /* allow scrolling */
      overflow: auto; 
      -webkit-transform: translate(-100vw, 0);
      -moz-transform: translate(-100vw, 0);
      -ms-transform: translate(-100vw, 0);
      transform: translate(-100vw, 0);
    }
    
    .rmc-nav__content-wrapper {
      border-top: 1px solid transparentize(white, 0.9);
      position: fixed;
      top: 4.375rem;
      width: 100vw;
      background: #000;
      z-index: 10;
      right: -100vw;
      -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      transform: translate(0, 0);
      -webkit-transition: -webkit-transform .35 ease;
      -moz-transition: -moz-transform .35s ease;
      transition: transform .35s ease;
    }
    .responsive-nav-menu {
      ol li, ul li {
        margin: 0;
        padding: 0;
        list-style: none;
      }
      .sub-nav .toggle span {
        -webkit-transform: scale(-1, 1);
        -ms-transform: scale(-1, 1);
        transform: scale(-1, 1);
        display: inline-block;
      }
      .sub-nav .toggle {
        top: 0;
      }
      .sub-nav .toggle span {
        -webkit-transform: scale(-1, 1);
        -ms-transform: scale(-1, 1);
        transform: scale(-1, 1);
        display: inline-block;
        padding: 0 0.5rem;
        font-weight: bold;
      }
      .sub-nav {
        margin-left: 1rem;
      }
      ul {
        margin: 0;
        background: black;
        line-height: 2.75rem;
        text-decoration: none;
        padding: 0;
        list-style: none;
      }
      li a {
        padding: 0.75rem 1rem;
        margin-right: 0;
        line-height: 1.3rem;
        text-decoration: none;
        display:block;
        color: white;
      }
      li a:hover,
      li a:focus,
      a.active,
      .toggle-sub:hover {
        background: #E4E4E4;
        color: black;
      }
      li {
        border-bottom: 1px solid #222;
        font-size: modular-scale(1);
        letter-spacing: 0.05rem;
        &.expanded {
          position:relative;
          .sub-nav{
            li{
              border-top: 1px solid #222;
            }
          }
          .toggle-sub{
            top:0;
          }
        }
      }
      .toggle-sub {
        letter-spacing: 0.045rem;
        color: #fff;
        background: #111;
        width: 2.2rem;
        border: none;
        border-left: 1px solid #444;
        cursor: pointer;
        text-align: center;
        position: absolute;
        right: 0;
        padding:0.85rem 2rem 0.85rem 1rem;
        &[aria-expanded=true]{
          &:before{
            font-size:1rem;
            display: inline-block;
            -webkit-transform: rotate(270deg);
            -moz-transform: rotate(270deg);
            -o-transform: rotate(270deg);
            -ms-transform: rotate(270deg);
            transform: rotate(270deg);
          }
        }
        &[aria-expanded=false]{
          &:before{
            font-size:1rem;
            display: inline-block;
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            transform: rotate(90deg);
          }
        }
        &:focus,
        &:hover{
          background: #E4E4E4;
          color: black;
        }
      }
      ul.sub-nav {
        display: block;
        right: -100vw;
        position: absolute;
        width: 100%;
        -webkit-transition: -webkit-transform 0.35 ease;
        -moz-transition: -moz-transform 0.35s ease;
        transition: transform 0.35s ease;
      }
      .toggle-sub[aria-expanded=true] + ul.sub-nav {
        -webkit-transform: translate(-100vw, 0);
        -moz-transform: translate(-100vw, 0);
        -ms-transform: translate(-100vw, 0);
        transform: translate(-100vw, 0);
        visibility: visible;
        opacity: 1;
      }
      .toggle-sub[aria-expanded=false] + ul.sub-nav {
        -webkit-transform: translate(100vw, 0);
        -moz-transform: translate(100vw, 0);
        -ms-transform: translate(100vw, 0);
        transform: translate(100vw, 0);
        visibility: visible;
        opacity: 1;
      }
      .tab {
        border-right: 1px solid black;
        margin: 0;
        padding: 0;
        float: left;
        height: auto;
        &[aria-selected=true] > div.tab-label,
        &[aria-selected=true] > label,
        input[name=tab-group-responsive_menu_combined]:checked + label {
          color: black;
          background-color: #E4E4E4;
        }
      }
      .tab-1 {
        width: 49%;
      }
      .tab-2 {
        width: 49%;
      }
      .tab-3 {
        width: 33.3%;
      }
      .tab-4 {
        width: 24%;
      }
      .tab-5 {
        width: 24%;
      }
      .tab-6 {
        width: 14.5%;
      }
      .tab > div.tab-label,
      .tab > label {
        text-align: center;
        position: relative;
        font-size: modular-scale(2);
        padding: 1rem 0;
        letter-spacing: 0.045rem;
        color: white;
        display: block;
        font-weight: 300;
        margin-bottom: 0;
      }
      .tab .content {
        position: absolute;
        top: 3.25rem;
        left: 0;
        right: 0;
        bottom: 0;
        height: auto;
      }
    }
    .responsive-nav-menu > [aria-selected=false] > .content {
      display: none;
    }
    /** may not need this below */
    .responsive-nav-menu ul li.sub-nav-view-open {
      position: absolute;
      top: 0;
      left: 0;
      background: red;
      width: 100%
    }
    /** may not need this above */
    ul.top-level-expanded > li > a,
    ul.top-level-expanded > li > button {
      display: none;
    }
    ul.sub-nav-view li a,
    ul.sub-nav-view li button {
      display: none;
    }
    ul.sub-nav-view > li.sub-nav-parent-view a,
    ul.sub-nav-view > li.sub-nav-parent-view button {
      display: block;
    }
    /* To display the parent */
    ul.top-level-expanded > li.sub-nav-parent-view a,
    ul.top-level-expanded > li.sub-nav-parent-view button {
      display: block;
    }
    .responsive-nav-menu ul.top-level-expanded > li,
    .responsive-nav-menu ul.top-level-expanded ul.sub-nav-view > li {
      border: none;
    }
    .nested-arrow:before {
      /* content: "\e906"; If using font awesome.*/
      content: "^";
    }
  }
  /** Add top padding for known administration toolbars */
  body.navbar-adminstration ~ .rmc-nav__navigation-button[aria-expanded=true] {
    top: 30px;
  }
  body.toolbar .rmc-nav__navigation-button[aria-expanded=true] {
    top: 30px;
  }
  body.toolbar .rmc-nav__navigation-button[aria-expanded=true] ~ .rmc-nav__content-wrapper  {
    top: 100px;
  }
  body.toolbar-drawer .rmc-nav__navigation-button[aria-expanded=true] {
    top: 65px;
  }
  body.toolbar-drawer .rmc-nav__navigation-button[aria-expanded=true] ~ .rmc-nav__content-wrapper  {
    top: 135px;
  }
